{% extends 'shop/base.html' %}
{% load static %}

{% block title %}My Addresses{% endblock %}

{% block content %}
<div class="account-container">
    <div class="account-sidebar">
        {% include 'shop/account/account_sidebar.html' %}
    </div>
    <div class="account-content">
        <div class="address-header">
            <h2>My Addresses</h2>
            <a href="{% url 'add_address' %}" class="btn btn-add">Add New Address</a>
        </div>
        
        {% if addresses %}
        <div class="address-grid">
            {% for address in addresses %}
            <div class="address-card {% if address.is_default %}default{% endif %}">
                <div class="address-type">{{ address.get_address_type_display }}</div>
                <div class="address-details">
                    <p>{{ address.street }}</p>
                    <p>{{ address.city }}, {{ address.state }} {{ address.postal_code }}</p>
                    <p>{{ address.country }}</p>
                </div>
                {% if address.is_default %}
                <div class="default-badge">Default</div>
                {% endif %}
                <div class="address-actions">
                    <a href="{% url 'edit_address' address.id %}" class="btn btn-edit">Edit</a>
                    <form action="{% url 'delete_address' address.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You haven't added any addresses yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}