 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .invoice-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            border-bottom: 2px solid #537915da;
            padding-bottom: 20px;
            padding-top: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: #6a6767a4;
        }
        
        .invoice-title {
            font-size: 24px;
            font-weight: bold;
            color: #393434;
            padding-bottom: 1.5rem;
        }
        
        .invoice-details {
            text-align: right;
        }
        
        .company-address, .customer-address {
            margin-bottom: 20px;
        }
        
        .items-table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            
        }
        
        .items-table th {
            background: #f5f5f5;
            text-align: left;
            padding: 10px;
        }
        
        .items-table td {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
        
        .text-right {
            text-align: right;
        }
        
        .total-row {
            font-weight: bold;
        }
        
        .footer {
            margin-top: 50px;
            padding-top: 20px;
            padding-bottom: 1rem;
            border-top: 2px solid #131212;
            text-align: center;
            font-size: 12px;
            color: #777;
            background-color: #daf1b1;

        }